.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.restaurant-list{
  margin: auto;
  border-width:5px;  
  border-style:ridge;
  border-radius: .35rem;
  background-color: #DAE0E6;
  border-width: 2px;
  width: auto;
  max-width: 600px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.button {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#008cff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3477ad}

.button:active {
  background-color: #008cff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* loader */


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #000;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}